@import "fonts.scss";

$text-color--main: #E3B873;
$text-color--light: #FFFFFF;
$text-color--dark: #959595;
$text-color--darken: #363636;
$text-color--darkest: #181818;
$text-color--black: #131313;
$text-color--dark-transparent: rgba(255, 255, 255, 0.5);

$button_font:  normal normal normal 13px 'FuturaDemiC';
$paragraph_font: normal normal normal 20px 'FuturaBookC';

.body_wrapper {
    max-width: 1440px;
    box-sizing: border-box;
}

.header {
    max-width: 1440px;
    height:83px;
    margin: 0 auto;
    display: flex;
    background-color: #131313;
    justify-content: space-around;
    align-items: center;
    &--button {
        width: 161px;
        height: 37px;
    }
    &--logo {
        font: normal 14px 'FuturaDemiC';
        text-transform: uppercase;
        color: $text-color--main;
        margin-left: 62px;
    }
}

.section {
    max-width: 1440px;
    margin: 0 auto;
}

.section_header {
    display: inline-block;
    font: normal 20px 'Yeseva One';
    text-transform: uppercase;
    color: $text-color--darkest;
}

.section_content {
    text-align: center;
    font: $paragraph_font;
    color: $text-color--darken;

}


.slider {
    display: grid;
    grid-template-areas: 
                        'header items_headings'
                        'header items'
                        'descriptions items'
                        'controls items';
    grid-template-rows: 60px 220px 220px 40px;
    grid-template-columns: 36.79% 63.21%;
        //grid-gap: 10px;
    height: 600px;
    margin: 0 0 0 7%;

    &_header {
        
        grid-area: header;
        padding-top: 40px;
        &--header {
            font: normal 27px 'Yeseva One';
            text-transform: uppercase;
            color: $text-color--main;
            max-width: 253px;
        }
        &--text {
            font: normal 18px 'FuturaBookC';
            color: $text-color--light;
            max-width: 440px;
            line-height: 2em;
        }
    }

    &--controls {
        grid-area: controls;
        display: flex;

    }

    &_items_headings {
        grid-area: items_headings;
        display: flex;
        

        &_list {
            list-style: none;
            display: flex;
            text-align: center;
            justify-content: left;
            margin-left: 0;
            padding:0 0 0 0;
            margin-bottom: 0;
            &--item {
                margin-right: 60px;
            }
            &--link {
                color: $text-color--light;
                text-transform: uppercase;
                font: normal 14px 'Yeseva One';
                &:hover {
                color: $text-color--main;
                }
            }
        }
    }

    &_descriptions {
        grid-area: descriptions;
        display: flex;
        flex-wrap: wrap;
        max-width: 440px;
    }

    &_descriptor {
        width:50%;
        &--head {
            color: $text-color--main;
            text-transform: uppercase;
            font: normal 18px 'Yeseva One';
        }
        &--text {
            color: $text-color--light;
            font: normal 15px 'FuturaBookC';
        }
    }


    &--indicators {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 2px 14px 0 30px;

    }

    &--indicator {
        width: 10px;
        height: 10px;
        background-color: $text-color--light;
        border-radius: 50%;
        filter: brightness(30%);
        margin-right: 16px;
        &-active {
            filter: brightness(100%);  
        }
    }

    &--items {
        grid-area: items;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        

    }
    &--item {
        margin-right: 20px;
    }
    &--image-mobile {
        display: none;
    }

}


.slider_mod1 {
    width:100%;
    display: grid;
    grid-template-areas: 
                        'header items_headings'
                        'descriptions items_headings'
                        'descriptions items'
                        'controls items';
    grid-template-rows: 60px 214px 176px 200px;
    grid-template-columns: 36.79% 63.21%;
    height: 650px;
    margin: 0;

    &_header {
        grid-area: header;
        //padding-top: 40px;
        &--header {
            font: normal 27px 'Yeseva One';
            text-transform: uppercase;
            color: $text-color--main;
            max-width: 160px;
            margin:0;
        }
    }

    &--controls {
        grid-area: controls;
        display: flex;

    }

    &_items_headings {
        grid-area: items_headings;
        padding-top: 48px;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 43.2% 43.2% 15.6%;
    }

    &_items_heading {
        width:auto;
        filter: brightness(30%);
        &--head {
            text-transform: uppercase;
            font: normal 15px 'Yeseva One';
            color: $text-color--light;
            margin:0;
            display: inline-block;
            border-bottom: solid 1px $text-color--main;
        }
        &--text {
            color: $text-color--light;
            font: normal 15px 'FuturaBookC';
        }
        &-active {
            filter: brightness(100%);
        }
    }

   &_descriptions {
    grid-area: descriptions;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    &--header {
        font: normal 15px 'Yeseva One';
        text-transform: uppercase;
        color: $text-color--main;
        padding: 20px 0 0 0;
        margin: 0;
        line-height: 1.5em;
    }
    &--number {
        font: normal 18px 'Yeseva One';
        text-transform: uppercase;
        color: $text-color--light;
        max-width: 220px;
        margin: 0;
    }
    &--content {
        font: normal 15px 'FuturaBookC';
        color: $text-color--light;
        max-width: 340px;
        padding: 16px 0 0 0;
        margin: 0;
        line-height: 1.7em;
    }
   }

    &--indicators {
        list-style: none;
    }


    &--items {
        grid-area: items;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        
    }
    &--item {
        margin-right: 20px;
    }

}




.form {
    display: flex;
    flex-direction: column;
    max-width: 509px;
    background-color: $text-color--black;
    padding: 30px 45px 27px 45px;
    &-wide_centered {
        padding: 30px 180px 27px 180px;
        max-width: 883px;
        align-items: center;
    }
    &-lighter {
        background-color: $text-color--darkest;
    }
    &--header {
        font: normal 20px 'FuturaDemiC';
        color: $text-color--light;
        align-self: center;
        text-align: center;
        max-width: 235px;
        margin: 0;
        &-uppercase {
            text-transform: uppercase;
        }

    }

    &_fields {
        display: flex;
        flex-direction: row;
        width: 521px;
        justify-content: space-between;
    }

    &--field {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: 1px solid gray;
        padding-top: 46px;
        &-left_aligned {
            align-self: flex-start;
            width: 100%;
        }
    }
    
    &--label {
        font: normal 15px 'FuturaBookC';
        color: $text-color--light;
        opacity: 0.5;
    }
    &--input {
        font: normal 18px 'FuturaMediumC';
        color: $text-color--light;
        border: none;
        background-color: $text-color--black;
        &::placeholder {
            color: $text-color--light;
        }
        &-wide {
            width:232px;
        }
    }
    &--button {
        width: 213px;
        height: 51px;
        font-size: 15px;
        margin-top: 35px;
        margin-left: 195px;
        &-centered {
            margin-left: 0px;
        }
    }

    &--checkbox {
        font: normal 16px 'FuturaBookC';
         color: $text-color--light;
         padding-top:20px;
    }
}    




.tiles_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    &--image-mobile {
        display:none;
    }
}

.tile_content {
    background-color: $text-color--light;
    width: 84.18%;
    position: absolute;
    top: 295px;
    &-top {
        top: 0;
        left:-40px;
        width: 376px;
    }
    &--header{
        font: normal 18px 'Yeseva One';
        color: $text-color--darken;
        margin: 26px 0 10px 34px;
        &-right {
            margin-left: 140px;
        }
        &-centered {
            margin-left: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }

    &--list {
        padding-inline-start: 0;
        margin: 0 0 0 46px;
        padding: 0 0 60px 0px;
        &-no_marks {
            list-style:none;
            padding:25px 30px 55px 20px;
            margin:0;
        }
        &-centered {
            list-style:none;
            padding:10px 0px 40px 0px;
            margin:0;
            text-align: center;
        }
    }
    &--item {
        font: normal 15px 'FuturaBookC';
        color: $text-color--dark;
        line-height: 1.6em;
      
        
    }

    &--footer {
        font: normal 18px 'Yeseva One';
        color: $text-color--light;
        text-transform: uppercase;
        background-color: $text-color--main;
        margin: 0 0 0 0;
        text-align: center;
        padding: 17px 0 17px 0;
        position: absolute;
        bottom:-26px;
        left:0;
        width: 100%;

        &-small {
            font-size: 13px;
        }
        &-narrow {
            width: 69%;
        }

    }
}

.first_section {
    display: flex;
    background-color: #131313;
    //height: 755px;
}

.navbar_list {
    //@includewidth:60%;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    &--item {
        margin-right: 47px;
    }
}

.navbar_list--link {
  color: $text-color--light;
  text-transform: uppercase;
  font: normal 14px 'FuturaBookC';

  &:hover {
    color: $text-color--main;

  }

}

.button {
    background-color: $text-color--main;
    color: $text-color--light;
    font: $button_font;
    text-transform: uppercase;
}


//.button--main_image-transparent {
//    background-color: none;
//}

.phone_number--link {
    font: normal 14px 'FuturaDemiC';
    color: $text-color--main;
    text-decoration: underline;
}


.main_image {
    background: url(assets/images/section1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    
    max-height: 707px;
    height: calc(100vw*0.52138643067);
 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 0px 58px;
    margin-bottom: 50px;
 
    
}

.sidebar {
    width: 82px;
    display: flex;
    justify-content: center;

    &--text {
        transform: rotate(90deg);
        text-align: center;
        margin: auto;
        font: normal 14px 'FuturaDemiC';
        text-transform: uppercase;
        color: $text-color--main;
    }
}
.main_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width:515px;
    &--button {
        flex: 0 0 auto;
        width: 207px;
        height: 51px;
        margin-right: 10px;
        &-transparent {
            background-color: transparent;
            border: 1px solid $text-color--light;
        }
    }
    &--header {
        font: normal 40px 'Yeseva One';
        color: $text-color--light;
        margin: 0.2em 0 0.2em 0;
        line-height: 1.38em;
    }
    &--text {
        font: normal 22px 'FuturaBookC';
        color: $text-color--light;
        margin: 1.5em 0 1.5em 0;
        line-height: 1.5em;
    }
}

.section_projects {
    background-color: #131313;
    &_slider_controls {
        margin-top: 20px;
    }


}



.section_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    background: linear-gradient(180deg,#131313 0%, #131313 35%, white 35%, #FFFFFF 100%);
    &--header {
        color: $text-color--light;
    }
    &--icon {
        margin-bottom:30px;
    }
    &--video {
        margin-bottom:62px;
        &-mobile {
            display:none;
        }
    }
    &--divider {
        margin-bottom:15px;
    }


    &--content {
        max-width: 673px;
        margin-bottom: 80px;
        line-height: 2em;
      
    }
    &_form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 800px;
        &--field {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-bottom: 1px solid gray;
            padding-right: 35px;
        }
        
        &--label {
            font: normal 15px 'FuturaBookC';
             color: $text-color--darken;
             opacity: 50%;
        }
        &--input {
            font: normal 18px 'FuturaBookC';
             color: $text-color--darken;
             border: none;
        }
        &--button {
            width: 200px;
            height: 50px;
            font-size: 15px;
        }

        &--checkbox {
            font: normal 16px 'FuturaBookC';
             color: $text-color--darkest;
             padding-top:20px;
        }
    }    
}


.section_repair {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 270px;
    &--tiles {
        width: 1236px;
        
    }
    &--icon {
        margin-bottom:30px;
    }
}

.section_request {
    display: flex;
    padding-bottom: 200px;
}

.bbb {
    background-image: url(assets/images/building.png);
    background-repeat: no-repeat;
    background-size: top;
    width: 57.77%;
    max-height: 707px;
    height: calc(100vw*0.52138643067);
    position: relative;
    overflow: hidden;
}


.circle {  
    width: 630px;
    height: 630px;
    border-radius: 50%;
    //background-image: 
       //linear-gradient(#fff,#fff) padding-box,
       //linear-gradient(to right, transparent 0%, transparent 20%, transparent 20%, #E3B873 100%);
       //-webkit-mask-image: 
    border: 3px solid #E3B873 ;
    position: absolute;
    top: 55px;
    left: -150px;
    overflow: hidden;
}

.circle_item {
    //border: 30px solid $white;
    box-sizing: content-box;
    position: absolute;
    background-color: #E3B873;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: $text-color--light;
    font: normal 18px 'Yeseva One';
    display: flex;
    justify-content: center;
    align-items: center;
    &-first {
        left: 356px;
        top: 116px;
        &::after {
            content: 'Our specialist will arrive for measurements per day contact, or appoint a date convenient for you';
            color: $text-color--darken;
            font: normal 18px 'FuturaMediumC';
            left: 55px;
            width:360px;
            display: block;
            position: absolute;

        }
    }
    &-second {
        left: 431px;
        top: 227px;
        &::after {
            content: 'Free metering';
            color: $text-color--darken;
            font: normal 18px 'FuturaMediumC';
            left: 55px;
            width:160px;
            display: block;
            position: absolute;
        }
    }
    &-third {
        left: 456px;
        top: 388px;
        &::after {
            content: 'Free consultation';
            color: $text-color--darken;
            font: normal 18px 'FuturaMediumC';
            left: 55px;
            width:160px;
            display: block;
            position: absolute;
        }
    
    }
    &-fourth {
        left: 390px;
        top: 548px;
        &::after {
            content: 'Get a cost estimate and the timing of your future repairs';
            color: $text-color--darken;
            font: normal 18px 'FuturaMediumC';
            left: 55px;
            width:260px;
            display: block;
            position: absolute;
        }
    }

}
.form_wrapper {
    padding-top: 105px;
}

.section_fantasies {
    margin-bottom: 145px;
    &--header {
        font-size: 27px;
        color:$text-color--main;
        line-height: 1.386em;
        
       
    }

}

.fantasies_wrapper {

    background: url(assets/images/room_backgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    //background-color: #131313;
    max-height: 865px;
    height: calc(100vw*0.6015299);
    display:flex;
    position: relative;
}

.fantasies_content {
    margin: 137px 0 0 100px;
    width:40%;
}

.fant_list {
    //width:40%;
    //display: flex;
    //text-align: center;
    list-style: none;
    padding: 0 0 0 0;
    //justify-content: space-between;
  
    &--link {
        font: normal normal 20px 'Proxima Nova';
        color:$text-color--light;
        line-height: 2em;
       
    }
}

.fantasies_images_left {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -41px;
    left: 586px;
}

.fantasies_images_right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -113px;
    left: 983px;
}

.fantasies_image_left_top {
    margin-bottom: 39px;
}

.fantasies_image_right_top {
    margin-bottom: 37px;
}

.section_design {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, white 50%, #131313 50%);
    padding-bottom: 270px;
    &--tiles {
        width: 1236px;
       
    }
    &--content {
        max-width: 665px;
        margin-bottom: 50px;
        line-height: 1.38em;
    }
    &--icon {
        margin-bottom:15px;
    }
}


.section_process {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 7% 0 7%;
    background-color: #131313;
   // margin-bottom: 400px;
   &--header {
       font: normal 15px 'FuturaDemiC';
       text-transform: uppercase;
       color:$text-color--light;
       margin-bottom: 22px;
       
   }
   &_slider_controls {
       margin-top: 100px;
   }
}


.section_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg,#131313 50%, white 50%);
    padding-top: 95px;
    margin-bottom: 50px;
    &--header {
        max-width: 109px;
        color: $text-color--light;
    }
    &--header_content {
        max-width: 430px;
        color: $text-color--light;
        margin-bottom: 80px;
        line-height: 1.38em;
    }
    
    &--content {
        max-width: 560px;
        color: $text-color--darken;
        line-height: 1.7em;
        margin-top: 10px;
        }
        
    
    &--tiles {
        width: 1063px;
        //display: flex;
        //flex-direction: row;
        //justify-content: space-between;
    }
    &--icon {
        margin-bottom:10px;
    }
    &--divider {
        margin-top: 130px;
       
    }
}


.section_clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:430px;
    padding: 0 121px 0 121px;
    &--header {
        max-width: 150px;
    }
    &--content {
        max-width: 380px;
        line-height: 1.38em;
        margin-bottom: 50px;
        &-padded {
            padding-top: 150px;
        }
        
    }
    &--tiles {
        width: 1063px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-start;
        
    }
   &--photo {
       z-index: 10;
   }
}

.section_question {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, white 50%, $text-color--darkest 50%);
}

.section_address {
    display: flex;
    flex-direction: column;
    background-color: $text-color--darkest;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    &--content {
        font: normal 20px 'Yeseva One';
        color: $text-color--main;
        text-transform: uppercase;
        max-width: 580px;
        text-align: center;
        line-height: 1.5em;
    }
    &_icons{
        margin: 30px 0 43px 0;
    }
    &--icon {
        padding: 0 7px 0 7px;
    }
    &--map-mobile {
        display: none;
    }
}


.footer {
    max-width: 1440px;
    height:140px;
    margin: 0 auto;
    display: flex;
    background-color: #131313;
    justify-content: space-around;
    align-items: center;
    &--button {
        width: 161px;
        height: 37px;
    }
    &--logo {
        font: normal 14px 'FuturaDemiC';
        text-transform: uppercase;
        color: $text-color--main;
        margin-left: 62px;
    }
}


@media (max-width: 375px) {
.navbar, .sidebar, .section_clients, .section_request, .fantasies_content, .section_process, .footer {

    display: none;
}

.body_wrapper {
    max-width: 1440px;
    box-sizing: border-box;
}

.header {
    max-width: 375px;
    height:57px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 25px 0 25px;
  
    &--button {
        display:none;
    }
    &--logo {
        font: normal 12px 'FuturaDemiC';
        text-transform: uppercase;
        color: $text-color--main;
        margin-left: 0px;
    }
}

.section {
    max-width: 375px;
}

.section_header {
    
    font: normal 22px 'Yeseva One';
} 

.tiles_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.tile {
    //display: flex;
    //flex-direction: column;
    align-items: flex-start;
    margin-bottom: 165px;
    //position:relative;
    &--image-mobile {
        display:block;
    }
    &--image{
        display:none;
    }
    &-centered {
        align-items: center;
    }
}




.tile_content {
    background-color: $text-color--light;
    width: 84.18%;
    position: absolute;
    top: 223px;
    &-adjusted {
      top: 275px;
    }
    &-top {
        top: 0;
        left:-40px;
        width: 376px;
    }
    &--header{
        font: normal 15px 'Yeseva One';
        //color: $text-color--darken;
       // margin: 26px 0 10px 34px;
       // &-right {
       //     margin-left: 140px;
       // }
        &-centered {
       //     margin-left: 0;
       //     margin-bottom: 0;
       //     text-align: center;
       font: normal 18px 'Yeseva One';
        }
    }

    &--list {
        padding-inline-start: 0;
        margin: 0 0 0 30px;
        padding: 0 0 40px 0px;
        &-no_marks {
            list-style:none;
            padding:25px 30px 55px 20px;
            margin:0;
        }
        &-centered {
            list-style:none;
            padding:10px 0px 35px 0px;
            margin:0;
            text-align: center;
            font: normal 18px 'Yeseva One';
        }
    }
    &--item {
        font: normal 13px 'FuturaBookC';
       color: $text-color--dark;
        line-height: 1.8em;
        &-large {
            font: normal 18px 'FuturaBookC'; 
        }
      
        
    }

    &--footer {
        font: normal 15px 'Yeseva One';
        //color: $text-color--light;
        //text-transform: uppercase;
        //background-color: $text-color--main;
       // margin: 0 0 0 0;
        //text-align: center;
        padding: 11px 0 11px 0;
        //position: absolute;
        //bottom:-26px;
        //left:0;
       // width: 100%;

        &-small {
            font-size: 13px;
        }
        //&-narrow {
        //    width: 69%;
       // }

    }
}


.slider {
    display: grid;
    grid-template-areas: 
                        'header'
                        'items'
                        'descriptions';
    grid-template-rows: 245px 241px 200px ;
    grid-template-columns: 100%;
        //grid-gap: 10px;
    height: auto;
    margin: 0;

    &_header {
        grid-area: header;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 34px;
        &--header {
            font: normal 22px 'Yeseva One';
            //text-transform: uppercase;
            //color: $text-color--main;
            width: 150px;
            text-align: center;
        }
        &--text {
            font: normal 14px 'FuturaBookC';
            //color: $text-color--light;
            max-width: 312px;
            line-height: 1.5em;
            text-align: center;
        }
    }

    &--controls {
        //grid-area: controls;
        display: none;

    }

    &_items_headings {
        grid-area: items_headings;
        display: none;
        

        &_list {
            list-style: none;
            display: flex;
            text-align: center;
            justify-content: left;
            margin-left: 0;
            padding:0 0 0 0;
            margin-bottom: 0;
            &--item {
                margin-right: 60px;
            }
            &--link {
                color: $text-color--light;
                text-transform: uppercase;
                font: normal 14px 'Yeseva One';
                &:hover {
                color: $text-color--main;
                }
            }
        }
    }

    &_descriptions {
        //grid-area: descriptions;
        //display: flex;
        //flex-wrap: wrap;
        max-width: 340px;
        padding-bottom: 20px;
    }

    &_descriptor {
        width:50%;
        &--head {
            //color: $text-color--main;
            //text-transform: uppercase;
            font: normal 14px 'Yeseva One';
        }
        &--text {
            //color: $text-color--light;
            font: normal 14px 'FuturaBookC';
        }
    }


    &--indicators {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 2px 14px 0 30px;

    }

    &--indicator {
        width: 10px;
        height: 10px;
        background-color: $text-color--light;
        border-radius: 50%;
        filter: brightness(30%);
        margin-right: 16px;
        &-active {
            filter: brightness(100%);  
        }
    }

    &--items {
        //grid-area: items;
        //display: flex;
        //justify-content: space-between;
        //@at-rootoverflow: hidden;
        margin-bottom: 20px;

    }
    &--item {
        margin-right: 20px;
    }
    &--image {
        display: none;
    }
    &--image-mobile {
        display: block;
    }

}



.section_content {
    text-align: center;
    font: normal 14px 'FuturaBookC';
    color: $text-color--light;

}



.form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: $text-color--black;
    padding: 0px 0px 0px 0px;
    &-wide_centered {
        padding: 0px 0px 0px 0px;
        max-width: 100%;
        align-items: center;
    }
    &-lighter {
        background-color: $text-color--darkest;
    }
    &--header {
        font: normal 20px 'FuturaDemiC';
        color: $text-color--light;
        align-self: center;
        text-align: center;
        max-width: 100%;
        margin: 0;
        &-uppercase {
            text-transform: uppercase;
        }

    }

    &_fields {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    &--field {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: 1px solid gray;
        padding-top: 46px;
        &-left_aligned {
            align-self: flex-start;
            width: 100%;
        }
    }
    
    &--label {
        font: normal 15px 'FuturaBookC';
        color: $text-color--light;
        opacity: 0.5;
    }
    &--input {
        font: normal 18px 'FuturaMediumC';
        color: $text-color--light;
        border: none;
        background-color: $text-color--black;
        &::placeholder {
            color: $text-color--light;
        }
        &-wide {
            width:232px;
        }
    }
    &--button {
        width: 340px;
        height: 51px;
        font-size: 15px;
        margin-top: 35px;
        margin-left: 195px;
        &-centered {
            margin-left: 0px;
        }
    }

    &--checkbox {
        font: normal 16px 'FuturaBookC';
         color: $text-color--light;
         padding-top:20px;
    }
}    



.main_image {
    background: url(assets/images/section1_mobile.png);
    width: 100%;
    
    //max-height: 476px;
    height: 431px;
    //height: calc(100vw*0.52138643067);
 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px 18px 0 18px;
    margin-bottom: 0;
 
    
}



.main_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width:338px;
    &--button {
        flex: 0 0 auto;
        width: 338px;
        height: 51px;
        margin-right: 10px;
        margin-bottom: 25px;
        &-transparent {
            background-color: transparent;
            border: 1px solid $text-color--light;
        }
    }
    &--header {
        font: normal 23px 'Yeseva One';
        color: $text-color--light;
        margin: 0.2em 0 0.2em 0;
        line-height: 1.38em;
    }
    &--text {
        font: normal 18px 'FuturaBookC';
        color: $text-color--light;
        margin: 1.5em 0 1.5em 0;
        line-height: 1.5em;
    }
}


.section_projects {
    
    padding: 0 18px 0 18px;

}




.section_control {
    //display: flex;
    //flex-direction: column;
   // align-items: center;
    margin-bottom: 55px;
    background: linear-gradient(180deg,#131313 0%, #131313 97%, white 97%, #FFFFFF 100%);
    padding: 0 18px 0 18px;
    &--header {
        color: $text-color--light;
    }
    &--icon {
        margin-bottom:30px;
    }
    &--video {
        display:none;
        &-mobile {
            display:block;
        }
    }
    &--divider {
        margin-bottom:15px;
    }


    &--content {
        //max-width: 375px;
        margin-bottom: 0;
        line-height: 1.5em;
        
      
    }
    &_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 800px;
        &--field {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-bottom: 1px solid $text-color--light;
            padding-right: 0;
            margin-top: 30px;
            width: 100%;
        }
        
        &--label {
            font: normal 15px 'FuturaBookC';
             color: $text-color--light;
             opacity: 0.5;
        }
        &--input {
            font: normal 18px 'FuturaBookC';
             color: $text-color--light;
             border: none;
             background-color: $text-color--darkest;
             
             &::placeholder {
                background-color: $text-color--darkest;
                color: $text-color--light;
            }
        }
        &--button {
            width: 340px;
            height: 51px;
            font-size: 15px;
            order:99
        }

        &--checkbox {
            font: normal 16px 'FuturaBookC';
             color: $text-color--light;
             padding-top:25px;
             margin-bottom: 60px;
        }
    }    
}



.section_repair {
    //display: flex;
    //flex-direction: column;
   // align-items: center;
    //margin-bottom: 270px;
    padding: 0 18px 0 18px;
    &--tiles {
        width: 100%;
        
    }
    &--icon {
        margin-bottom:30px;
    }
}


.section_design {
    //display: flex;
    //flex-direction: column;
   // align-items: center;
   background: linear-gradient(180deg, white 0%, #181818 0%,  #181818 100%,);
    //padding-bottom: 270px;
    padding: 0 18px 0 18px;
    
    &--tiles {
        width: 100%;
       
    }
    &--content {
        width: 100%;
        margin-bottom: 30px;
        line-height: 1.38em;
        text-align: center;
        font: normal 15px 'FuturaBookC';
        color: $text-color--light;
    }
    &--icon {
        margin-bottom:15px;
    }
    &--header {
        color:$text-color--light;
    }
}




.section_team {
   // display: flex;
   // flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, $text-color--darkest 100% );
    //padding-top: 200px;
  margin-bottom: 0;
   padding: 130px 18px 0 18px;
    &--header {
        max-width: 100%;
       
        color: $text-color--light;
    }
    &--header_content {
        width: 100%;
        color: $text-color--light;
        margin-bottom: 80px;
        line-height: 1.38em;
    }
    
    &--content {
        //max-width: 560px;
        //color: $text-color--darken;
        //line-height: 1.7em;
        //margin-top: 10px;
        display: none;
        }
        
    
    &--tiles {
        width: 100%;
        //display: flex;
        flex-direction: column;
        align-items: flex-end;
        //justify-content: space-between;
    }
    &--icon {
        margin-bottom:10px;
    }
    &--divider {
        //margin-top: 130px;
        display: none;
       
    }
}



.section_question {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg,  $text-color--darkest 100%);
    padding: 0px 18px 0 18px;
}

.section_address {
    //display: flex;
   // flex-direction: column;
    //background-color: $text-color--darkest;
   // align-items: center;
   // padding-top: 50px;
   padding-bottom: 0;
   &--content {
      font: normal 18px 'Yeseva One';
   //     color: $text-color--main;
   //     text-transform: uppercase;
      max-width: 310px;
     //  text-align: center;
     //  line-height: 1.5em;
    }
   // &_icons{
   //     margin: 30px 0 43px 0;
   // }
    //&--icon {
    //    padding: 0 7px 0 7px;
   // }
    &--map-mobile {
        display: block;
    }
    &--map {
        display: none;
    }
}

}